@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

  --background-color: #000;
  --text-color: #F8F8CA;
}

@layer base {
  p, h1, h2, h3, h4, h5, h6, * {
    color:var(--text-color);
  }
}
@layer components {
  .bg-gradient {
    background: linear-gradient(45deg, 
    #FF3636 0%, 
    #FEE157 12.5%, 
    #FFFF55 25%, 
    #F8F8CA 37.5%, 
    #3FDC9A 50%, 
    #49FFFF 62.5%, 
    #3C3CFF 75%, 
    #FF63FF 87.5%, 
    #FFB5D8 100%);
  }
}


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
 */